---
layout: default
title: Parcour année 1
permalink: /annee1/
---

<div class="container">

        <h1>Programme Master 1</h1>
    <h2>Semestre 1</h2>

    <div class="list-group">
        {% for cour in site.cours1  %}
        <a href="{{ cour.url }}" class="list-group-item list-group-item-action">{{ cour.title }}</a>
        {% endfor %}
    </div>

    <h2>Semestre 2</h2>

        <div class="list-group">
            {% for cour in site.cours2  %}
            <a href="{{ cour.url }}" class="list-group-item list-group-item-action">{{ cour.title }}</a>
            {% endfor %}
        </div>