<header id="head">
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="{{site.url}}/accueil/"><img src="/assets/images/logo_temp1.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="{{site.url}}/accueil/">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admission <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.url}}/cible/">Public Cible</a></li>
                            <li><a href="{{site.url}}/condition_dadmission/">Condition d'Admission</a></li>
                            <li><a href="{{site.url}}/requis/">Pré-requis</a></li>
                            <li><a href="{{site.url}}/candidature/">Modalités de candidature</a></li>
                        </ul>
                    </li>
                    <li><a href="{{site.url}}/equipe/">L'Equipe</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parcour VMI <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.url}}/annee1/">Année 1</a></li>
                            <li><a href="{{site.url}}/annee2/">Année 2</a></li>
                        </ul>
                    </li>
                    <li><a href="{{site.url}}/apres/">et Après</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    <div class="container">
        <div class="row">
            <h1 class="lead">MASTER MV2 VMI</h1>
            <h2 class="lead">"Vision et Machine Intelligente"</h2>
            <p class="tagline">Domaine : Sciences, Technologies, Santé</p>
        </div>
    </div>
</header>